section{
    height: 1250px;
    width: 100%;
}
h3 {
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.services-title{
    justify-content: center;
    max-width: 100%;
}
@media (max-width:768px) {
   
    
}