@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,500&display=swap');

.services {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
}

.packages {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
}

.packages-title {
    align-items: center;
    background-color: #1777A1;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

div .p-card-header {
    background-color: #62A2C4;
    font-size: 20px;
}

.price-container {
    height: 80px;
    width: 322.5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-container-mobile {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price .currency {
    position: relative;
    color: #505050;
    font-size: 25px;
}

.price .integer-part {
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.price-without-decimal {
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
}

.carousel-control-prev-icon {
    /* background-image: url("Images/arrow-left.png"); */
    border: solid black 0;
    background-color: gray;
    border-radius: 20px;
}
.carousel-control-next-icon
{
    border: solid black 0;
    background-color: gray;
    border-radius: 20px;
}

@media (max-width:768px) {
    .services {
        background-color: #FFFFFF;
        height: 100vh;
        width: 100%;
    }

    .packages {
        background-color: #FFFFFF;
        height: 100vh;
        width: 100%;
    }

    .price-container {
        height: 70px;
    }


}